&__upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 130px;

    &__left {
        &__h4 {
            @extend %h4;
            margin: 0;
        }
    
        &__h3 {
            @extend %h3;
            margin: 4px 0 0 0;
        }
    }
}