&__upper {
    display: flex;
    align-items: center;
    justify-content: space-between;

        border-collapse: separate;
        border-spacing: 100px 0;
        


    &__left {
        gap: 10px;
        &__down {
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;
            &__h2 {
                @extend %h3;
                margin: 0
            }
        }

        &__h2 {
            @extend %h3;
            margin: 0;
        }
    }

    &__right {
        width: 950px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 100px 80px;
        box-sizing: border-box;
        div {
            display: flex;
            flex-direction: column;
            gap: 16px;
            a:nth-of-type(1) {
                color: var(--Grey-50, #797C86);
                font-family: Manrope;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                text-transform: uppercase;
            }

            a {
                color: var(--Grey-95, #F2F2F3);
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                text-transform: uppercase;
                gap: 10px;
                border-bottom: 1px solid var(--Dark-20, #2F2F37);
                width: fit-content;
            }
        }
    }
}