&__upper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 200px;

    &__left {

        &__h3 {
            margin: 0;
            @extend %h3;
        }

        &__h4 {
            margin: 0;
            @extend %h4;
        }
    }

    &__icons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 30px;

        &__arrows {
            border-radius: 100px;
            border: 1px solid var(--Dark-12, #1C1C21);
            background: var(--Dark-03, #070708);
            display: flex;
            flex-direction: row;
            padding: 10px;

            svg {
                border-radius: 100px;
                border: 1px solid #2F2F37;
                background: var(--Dark-12, #1C1C21);
                display: flex;
                padding: 14px;
                align-items: center;
                
                &:nth-of-type(1) {
                    margin-right: 16px;
                }
            }
        }

        
    }
}